@model IEnumerable<CarDealer.Models.Sale>
@{
    ViewBag.Title = "Discount";
}

<h2>Discount</h2>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Make</th>
        <th>Customer Name</th>
        <th>%</th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Car.Model</td>
            <td>@s.Car.Make</td>
            <td>@s.Customer.Name</td>
            <td>@s.Discount</td>
        </tr>
    }
</table>