@model IEnumerable<CarDealer.Models.Customer>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>Customer</h4>
    <h5>@Html.ActionLink("Add", "Add", "Customers")</h5>
    <hr />
    @foreach (var c in Model)
    {
        <dl class="dl-horizontal">
            <dd>
               @c.Name
            </dd>
        
            <dd>
                @c.BirthDate
            </dd>

            <dd>
                @c.IsYoungDriver
            </dd>
            <dd>
                @Html.ActionLink("edit", "Edit", "Customers", new {id = c.Id}, null)
            </dd>

        </dl>
    }
</div>