@model IEnumerable<CarDealer.Models.Car>

<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelledDistance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Car item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelledDistance)
                </td>
            </tr>
        }
    </tbody>
</table>
